BODY {
	MARGIN: 0px; PADDING-TOP: 17px; FONT-FAMILY: Arial, sans-serif
}
TD {
	FONT-SIZE: 12px; COLOR: #333333; FONT-FAMILY: Arial, Helvetica, sans-serif
}
TR {
	FONT-SIZE: 12px; COLOR: #333333; FONT-FAMILY: Arial, Helvetica, sans-serif
}
P {
	FONT-SIZE: 12px; COLOR: #333333; FONT-FAMILY: Arial, Helvetica, sans-serif
}
DIV {
	FONT-SIZE: 12px; COLOR: #333333; FONT-FAMILY: Arial, Helvetica, sans-serif
}
HR {
	WIDTH: 100%; COLOR: #daddd0; HEIGHT: 1px
}
.main {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FLOAT: left; PADDING-BOTTOM: 0px; MARGIN: 0px; WIDTH: 100%; PADDING-TOP: 0px
}
.contentdescription {
	DISPLAY: block; WIDTH: auto! important
}
TABLE.moduletable {
	TABLE-LAYOUT: auto; WIDTH: 100%
}
TABLE.moduletable TH {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; BACKGROUND-IMAGE: url(../images/modul.jpg); TEXT-TRANSFORM: uppercase; COLOR: #fff; TEXT-INDENT: 8px; LINE-HEIGHT: 22px; LETTER-SPACING: 1px; HEIGHT: 22px; TEXT-ALIGN: left
}
TABLE.moduletable TD {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; MARGIN: 4px; PADDING-TOP: 0px; padding-: 0px
}
.back_button {
	BORDER-RIGHT: #daddd0 1px solid; PADDING-RIGHT: 10px; BORDER-TOP: #daddd0 1px solid; PADDING-LEFT: 10px; FONT-WEIGHT: normal; FONT-SIZE: 11px; BACKGROUND: url(../images/but.gif); FLOAT: right; PADDING-BOTTOM: 4px; BORDER-LEFT: #daddd0 1px solid; COLOR: #996600; LINE-HEIGHT: 10px; MARGIN-RIGHT: 4px; PADDING-TOP: 4px; BORDER-BOTTOM: #daddd0 1px solid; FONT-FAMILY: Tahoma, Verdana, Arial, Helvetica, sans-serif; WHITE-SPACE: normal; TEXT-DECORATION: none
}
.button {
	BORDER-RIGHT: #daddd0 1px solid; PADDING-RIGHT: 1px; BORDER-TOP: #daddd0 1px solid; PADDING-LEFT: 1px; FONT-SIZE: 11px; BACKGROUND-IMAGE: url(../images/but.gif); MARGIN-BOTTOM: 5px; PADDING-BOTTOM: 1px; BORDER-LEFT: #daddd0 1px solid; COLOR: #333333; PADDING-TOP: 1px; BORDER-BOTTOM: #daddd0 1px solid; BACKGROUND-COLOR: #fff
}
.inputbox {
	BORDER-RIGHT: #cccccc 1px solid; BORDER-TOP: #cccccc 1px solid; BACKGROUND: url(../images/back.gif) #f3f3f3; MARGIN-BOTTOM: 5px; BORDER-LEFT: #cccccc 1px solid; COLOR: #666666; BORDER-BOTTOM: #cccccc 1px solid
}
.sectiontableheader {
	PADDING-RIGHT: 3px; PADDING-LEFT: 3px; FONT-WEIGHT: bold; FONT-SIZE: 12px; BACKGROUND: url(../images/modul.jpg) #fbfbf9; PADDING-BOTTOM: 3px; TEXT-TRANSFORM: uppercase; COLOR: #ffffff; PADDING-TOP: 3px; LETTER-SPACING: 1px
}
.sectiontableentry1 {
	PADDING-RIGHT: 3px; BORDER-TOP: #ffffff 1px solid; PADDING-LEFT: 3px; BACKGROUND: #f3f3f3; PADDING-BOTTOM: 3px; MARGIN: 3px; PADDING-TOP: 3px; BORDER-BOTTOM: #daddd0 1px solid
}
.sectiontableentry2 {
	PADDING-RIGHT: 3px; BORDER-TOP: #ffffff 1px solid; PADDING-LEFT: 3px; PADDING-BOTTOM: 3px; MARGIN: 3px; PADDING-TOP: 3px; BORDER-BOTTOM: #daddd0 1px solid
}
A.mainlevel {
	MARGIN-TOP: 1px; FONT-SIZE: 12px; WIDTH: 180px; TEXT-INDENT: 10px; PADDING-TOP: 0px
}
A.mainlevel:link {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 12px; PADDING-BOTTOM: 0px; WIDTH: 180px; TEXT-INDENT: 10px; PADDING-TOP: 0px
}
A.mainlevel:link {
	PADDING-RIGHT: 0px; DISPLAY: block; PADDING-LEFT: 0px; FONT-WEIGHT: normal; FONT-SIZE: 12px; PADDING-BOTTOM: 2px; WIDTH: 180px; COLOR: #006600; TEXT-INDENT: 10px; PADDING-TOP: 2px; BACKGROUND-COLOR: #f3f3f3
}
A.mainlevel:visited {
	PADDING-RIGHT: 0px; DISPLAY: block; PADDING-LEFT: 0px; FONT-WEIGHT: normal; FONT-SIZE: 12px; PADDING-BOTTOM: 2px; WIDTH: 180px; COLOR: #006600; TEXT-INDENT: 10px; PADDING-TOP: 2px; BACKGROUND-COLOR: #f3f3f3
}
A.mainlevel:hover {
	FONT-WEIGHT: normal; FONT-SIZE: 12px; COLOR: #000000; TEXT-INDENT: 10px; BACKGROUND-COLOR: #fbfbf9; TEXT-DECORATION: none
}
#active_menu {
	FONT-WEIGHT: bold; COLOR: #006600; BACKGROUND-COLOR: #fbfbf9
}
A#active_menu:hover {
	COLOR: #333333; BACKGROUND-COLOR: #fbfbf9
}
A:link {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #006600; TEXT-DECORATION: none
}
A:visited {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #006600; TEXT-DECORATION: none
}
A:hover {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #00cc00; TEXT-DECORATION: none
}
A.category:link {
	FONT-WEIGHT: bold
}
A.category:visited {
	FONT-WEIGHT: bold
}
A.readon:link {
	BORDER-RIGHT: #daddd0 1px solid; PADDING-RIGHT: 4px; BORDER-TOP: #daddd0 1px solid; PADDING-LEFT: 4px; FONT-WEIGHT: normal; FONT-SIZE: 11px; BACKGROUND: url(../images/but.gif); FLOAT: left; PADDING-BOTTOM: 3px; BORDER-LEFT: #daddd0 1px solid; COLOR: #000000; LINE-HEIGHT: 10px; PADDING-TOP: 2px; BORDER-BOTTOM: #daddd0 1px solid; FONT-FAMILY: Tahoma, Verdana, Arial, Helvetica, sans-serif; WHITE-SPACE: normal; TEXT-DECORATION: none
}
A.readon:visited {
	BORDER-RIGHT: #daddd0 1px solid; PADDING-RIGHT: 4px; BORDER-TOP: #daddd0 1px solid; PADDING-LEFT: 4px; FONT-WEIGHT: normal; FONT-SIZE: 11px; BACKGROUND: url(../images/but.gif); FLOAT: left; PADDING-BOTTOM: 3px; BORDER-LEFT: #daddd0 1px solid; COLOR: #000000; LINE-HEIGHT: 10px; PADDING-TOP: 2px; BORDER-BOTTOM: #daddd0 1px solid; FONT-FAMILY: Tahoma, Verdana, Arial, Helvetica, sans-serif; WHITE-SPACE: normal; TEXT-DECORATION: none
}
A.readon:hover {
	BORDER-RIGHT: #daddd0 1px solid; PADDING-RIGHT: 4px; BORDER-TOP: #daddd0 1px solid; PADDING-LEFT: 4px; FONT-WEIGHT: normal; FONT-SIZE: 11px; BACKGROUND: url(../images/but.gif); FLOAT: left; PADDING-BOTTOM: 3px; BORDER-LEFT: #daddd0 1px solid; COLOR: #006600; LINE-HEIGHT: 10px; PADDING-TOP: 2px; BORDER-BOTTOM: #daddd0 1px solid; FONT-FAMILY: Tahoma, Verdana, Arial, Helvetica, sans-serif; WHITE-SPACE: normal; TEXT-DECORATION: none
}
UL {
	PADDING-LEFT: 10px; MARGIN: 2px; LIST-STYLE-TYPE: none
}
TABLE.contenttoc {
	BORDER-RIGHT: #fff 1px solid; PADDING-RIGHT: 2px; BORDER-TOP: #fff 1px solid; PADDING-LEFT: 2px; MARGIN-BOTTOM: 2px; PADDING-BOTTOM: 2px; MARGIN-LEFT: 2px; BORDER-LEFT: #fff 1px solid; PADDING-TOP: 2px; BORDER-BOTTOM: #fff 1px solid
}
TABLE.contenttoc TD {
	PADDING-RIGHT: 2px; PADDING-LEFT: 2px; PADDING-BOTTOM: 2px; PADDING-TOP: 2px
}
TABLE.contenttoc TH {
	PADDING-LEFT: 4px; FONT-WEIGHT: bold; FONT-SIZE: 12px; TEXT-TRANSFORM: uppercase; COLOR: #666666; PADDING-TOP: 2px; HEIGHT: 21px; TEXT-ALIGN: left
}
.pagenavcounter {
	FONT-SIZE: 12px; COLOR: #666666
}
.pagenavbar {
	PADDING-RIGHT: 2px; BORDER-TOP: #999999 1px solid; PADDING-LEFT: 2px; PADDING-BOTTOM: 2px; PADDING-TOP: 2px
}
.pagenav {
	FONT-WEIGHT: bold; COLOR: #cccccc
}
A.pagenav:link {
	TEXT-DECORATION: none
}
A.pagenav:visited {
	TEXT-DECORATION: none
}
A.pagenav:hover {
	TEXT-DECORATION: none
}
.date {
	FONT-SIZE: 12px; COLOR: #9fe49f; PADDING-TOP: 15px
}
.small {
	FONT-SIZE: 12px; COLOR: #333333
}
.postedby {
	FONT-SIZE: 12px; COLOR: #666666
}
.smalldark {
	FONT-SIZE: 12px; COLOR: #000000
}
.createdate {
	FONT-SIZE: 12px; COLOR: #666666
}
.modifydate {
	FONT-SIZE: 12px; COLOR: #666666
}
.content_vote {
	FONT-SIZE: 12px; PADDING-BOTTOM: 2px; PADDING-TOP: 2px; HEIGHT: 22px
}
.content_rating {
	FONT-SIZE: 12px; COLOR: #666666
}
.pathway {
	FONT-SIZE: 12px; COLOR: #9fe49f; PADDING-TOP: 1px
}
A.pathway:link {
	FONT-SIZE: 12px; COLOR: #9fe49f
}
A.pathway:visited {
	FONT-SIZE: 12px; COLOR: #9fe49f
}
A.pathway:hover {
	FONT-SIZE: 12px; COLOR: #fff
}
TABLE.content {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; MARGIN-BOTTOM: 10px; PADDING-BOTTOM: 0px; WIDTH: 100%; PADDING-TOP: 0px; BORDER-COLLAPSE: collapse; border-spacing: 0px
}
TABLE.contentpane {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; MARGIN-BOTTOM: 5px; PADDING-BOTTOM: 5px; WIDTH: 100%; PADDING-TOP: 5px; border-spacing: 0px
}
TABLE.contentpaneopen {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; MARGIN-BOTTOM: 5px; WIDTH: 100%; border-spacing: 0px
}
.pollstableborder {
	BORDER-LEFT-COLOR: #666666; BORDER-BOTTOM-COLOR: #666666; BORDER-TOP-COLOR: #666666; BORDER-RIGHT-COLOR: #666666
}
.contentheading {
	FONT-WEIGHT: bold; FONT-SIZE: 16px; BACKGROUND-IMAGE: url(../images/headline.gif); TEXT-TRANSFORM: uppercase; WIDTH: 100%; COLOR: #006600; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-ALIGN: left
}
.componentheading {
	FONT-WEIGHT: bold; FONT-SIZE: 16px; BACKGROUND-IMAGE: url(../images/headline.gif); TEXT-TRANSFORM: uppercase; WIDTH: 100%; COLOR: #006600; LINE-HEIGHT: 21px; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-ALIGN: left
}
.contentpagetitle {
	FONT-WEIGHT: bold; FONT-SIZE: 16px; TEXT-TRANSFORM: uppercase; WIDTH: 100%; COLOR: #006600; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-ALIGN: left
}
A.contentpagetitle:link {
	FONT-WEIGHT: bold; FONT-SIZE: 16px; COLOR: #006600; TEXT-DECORATION: none
}
A.contentpagetitle:visited {
	FONT-WEIGHT: bold; FONT-SIZE: 16px; COLOR: #006600; TEXT-DECORATION: none
}
A.contentpagetitle:hover {
	FONT-WEIGHT: bold; FONT-SIZE: 16px; COLOR: #00cc00; TEXT-DECORATION: none
}
.title {
	FONT-WEIGHT: bold; FONT-SIZE: 20px; TEXT-TRANSFORM: uppercase; COLOR: #ffffff; FONT-FAMILY: Arial, Verdana, Geneva,  Helvetica, sans-serif; TEXT-ALIGN: center
}
.title A:link {
	FONT-WEIGHT: bold; FONT-SIZE: 20px; TEXT-TRANSFORM: uppercase; COLOR: #ffffff
}
.title A:visited {
	FONT-WEIGHT: bold; FONT-SIZE: 20px; TEXT-TRANSFORM: uppercase; COLOR: #ffffff
}
.title A:hover {
	FONT-WEIGHT: bold; FONT-SIZE: 20px; TEXT-TRANSFORM: uppercase; COLOR: #cccccc
}
UL#mainlevel-nav {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 0.8em; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; LIST-STYLE-TYPE: none
}
UL#mainlevel-nav LI {
	BORDER-RIGHT: medium none; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 11px; FLOAT: left; BACKGROUND-IMAGE: none; MARGIN: 0px; LINE-HEIGHT: 21px; WHITE-SPACE: nowrap
}
UL#mainlevel-nav LI A {
	PADDING-RIGHT: 15px; DISPLAY: block; PADDING-LEFT: 15px; BACKGROUND: none transparent scroll repeat 0% 0%; COLOR: #9fe49f; TEXT-DECORATION: none
}
UL#mainlevel-nav LI A:hover {
	COLOR: #ffffff
}
A#klick {
	DISPLAY: block; BACKGROUND: none transparent scroll repeat 0% 0%; LEFT: 0px; WIDTH: 100px; CURSOR: hand; TEXT-INDENT: -999em; POSITION: absolute; TOP: 0px; HEIGHT: 100px; TEXT-DECORATION: none
}
#navcontainer {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 12px; PADDING-BOTTOM: 0px; MARGIN: 0px; WIDTH: auto; PADDING-TOP: 0px; FONT-FAMILY: Arial, Helvetica, sans-serif; HEIGHT: 28px
}
#navlist {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
#navlist UL {
	DISPLAY: inline; LIST-STYLE-TYPE: none
}
#navlist LI {
	DISPLAY: inline; LIST-STYLE-TYPE: none
}
#navlist A:link {
	BORDER-RIGHT: #cccccc 1px solid; PADDING-RIGHT: 10px; PADDING-LEFT: 10px; FONT-WEIGHT: bold; FLOAT: left; PADDING-BOTTOM: 5px; MARGIN: 0px; COLOR: #333333; LINE-HEIGHT: 14px; PADDING-TOP: 5px; TEXT-DECORATION: none
}
#navlist A:visited {
	BORDER-RIGHT: #cccccc 1px solid; PADDING-RIGHT: 10px; PADDING-LEFT: 10px; FONT-WEIGHT: bold; FLOAT: left; PADDING-BOTTOM: 5px; MARGIN: 0px; COLOR: #333333; LINE-HEIGHT: 14px; PADDING-TOP: 5px; TEXT-DECORATION: none
}
#navlist A#current:link {
	COLOR: #009900
}
#navlist A#current:visited {
	COLOR: #009900
}
#navlist A:hover {
	COLOR: #009900
}
#navlist A:hover {
	COLOR: #009900
}
#subbox {
	FONT-SIZE: 12px; WIDTH: auto; FONT-FAMILY: Arial, Helvetica, sans-serif; HEIGHT: 18px
}
#subnavlist {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
#subnavlist UL {
	PADDING-RIGHT: 0px; DISPLAY: inline; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; LIST-STYLE-TYPE: none
}
#subnavlist LI {
	PADDING-RIGHT: 0px; DISPLAY: inline; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; LIST-STYLE-TYPE: none
}
#subnavlist A:link {
	PADDING-RIGHT: 0px; PADDING-LEFT: 18px; FONT-WEIGHT: normal; BACKGROUND: url(../images/line.gif) no-repeat 9px 3px; FLOAT: left; PADDING-BOTTOM: 0px; COLOR: #00cc00; LINE-HEIGHT: 16px; PADDING-TOP: 0px; TEXT-DECORATION: none
}
#subnavlist A:visited {
	PADDING-RIGHT: 0px; PADDING-LEFT: 18px; FONT-WEIGHT: normal; BACKGROUND: url(../images/line.gif) no-repeat 9px 3px; FLOAT: left; PADDING-BOTTOM: 0px; COLOR: #00cc00; LINE-HEIGHT: 16px; PADDING-TOP: 0px; TEXT-DECORATION: none
}
#subnavlist A#subcurrent:link {
	COLOR: #fff
}
#subnavlist A#subcurrent:visited {
	COLOR: #fff
}
#subnavlist A:hover {
	COLOR: #fff
}
A.sublevel:link {
	PADDING-LEFT: 10px; FONT-WEIGHT: bold; FONT-SIZE: 11px; VERTICAL-ALIGN: middle; COLOR: #006600; TEXT-ALIGN: left
}
A.sublevel:visited {
	PADDING-LEFT: 10px; FONT-WEIGHT: bold; FONT-SIZE: 11px; VERTICAL-ALIGN: middle; COLOR: #006600; TEXT-ALIGN: left
}
A.sublevel:hover {
	COLOR: #00cc00; TEXT-DECORATION: none
}
.footer {
	FONT-WEIGHT: normal; FONT-SIZE: 12px; COLOR: #888888; FONT-FAMILY: Verdana, Geneva, Arial, Helvetica, sans-serif
}
.footer A:link {
	FONT-WEIGHT: normal; FONT-SIZE: 12px; COLOR: #888888; TEXT-DECORATION: none
}
.footer A:visited {
	FONT-WEIGHT: normal; FONT-SIZE: 12px; COLOR: #888888; TEXT-DECORATION: none
}
.footer A:hover {
	FONT-WEIGHT: normal; FONT-SIZE: 12px; COLOR: #fff; TEXT-DECORATION: none
}
.highlight {
	BACKGROUND-COLOR: #ffffff
}
DIV.mosimage {
	BORDER-RIGHT: #ccc 1px solid; BORDER-TOP: #ccc 1px solid; BORDER-LEFT: #ccc 1px solid; BORDER-BOTTOM: #ccc 1px solid
}
.mosimage {
	BORDER-RIGHT: #cccccc 1px solid; BORDER-TOP: #cccccc 1px solid; MARGIN: 5px; BORDER-LEFT: #cccccc 1px solid; BORDER-BOTTOM: #cccccc 1px solid
}
.mosimage_caption {
	PADDING-RIGHT: 2px; BORDER-TOP: #cccccc 1px solid; MARGIN-TOP: 2px; PADDING-LEFT: 2px; FONT-SIZE: 12px; BACKGROUND: #efefef; PADDING-BOTTOM: 1px; COLOR: #666; PADDING-TOP: 1px
}
.FontTitleTop {
	font-size: 12px;
	font-weight: bold;
	color: #FFFFFF;
}
.TitleBig {
	font-size: 24px;
	font-weight: bold;
	color: #FF0000;
}
.Tblue {
	font-size: 12px;
	color: #0033CC;
	font-weight: bold;
}
.chu {
	font-weight: bold;
}
.Twhite {
	font-size: 12px;
	color: #FFFFFF;
}
.input {
	font-size: 12px;
	height: 18px;
}
.TbRedC {
	font-size: 12px;
	font-weight: bold;
	color: #FF0000;
}
.TRed {
	font-size: 14px;
	font-weight: bolder;
	color: #FF0000;
}
.TBlack {
	font-size: 14px;
	font-weight: bolder;
	color: #000000;
}
.Tdxbg {
	background-image: url(../../images/bot_bg.gif);
}
.TopTbg {
	background-image: url(downbg.gif);
}
.Tleftline {
	border-left-width: 1px;
	border-left-color: #999999;
	padding: 0px;
}
.tdw {
	background-image: none;
	padding-right: 1px;
	border-right-width: 1px;
	border-right-style: dashed;
	border-right-color: #FF0000;
}

.za_buttonCopy {

	font-family: "Arial";
	font-size: 12px;
	height: 22px;
	margin-bottom: 5px;
	padding-top: 2px;
	background-image: url(../../images/Vbg.gif);
	border: 1px solid #006699;
}
.BgTopgif {
	font-size: 12px;
	color: #003366;
	background-image: url(tcat.gif);
}
.SmallRed {
	font-size: 12px;
	color: #FF0000;
}
.Tblue2 {
	font-size: 12px;
	color: #0000FF;
}
.c_ti_ed
{
	background-color:Red}
.MsgTxt
{
	font-weight: bold;
	font-size: small;
}