BODY
{
	FONT-FAMILY: "ו";
	FONT-SIZE: 10pt;
	text-decoration: none;
	line-height: 150%;
	FONT-SIZE: 12pt;
	text-decoration: none;
	SCROLLBAR-FACE-COLOR: #C6EBDE;
	SCROLLBAR-HIGHLIGHT-COLOR: #ffffff;
	SCROLLBAR-SHADOW-COLOR: #39867B;
	SCROLLBAR-3DLIGHT-COLOR: #39867B;
	SCROLLBAR-ARROW-COLOR: #330000;
	SCROLLBAR-TRACK-COLOR: #E2F3F1;
	SCROLLBAR-DARKSHADOW-COLOR: #ffffff;
	top: 0px;
	margin-top: 0px;
}
button
{
	background-color: #00CC00;
}
TD
{
	FONT-FAMILY: "ו";
	FONT-SIZE: 9pt;
}
A
{
	TEXT-DECORATION: none;
	color: #000000;

}
A:hover
{
	COLOR: #006600;
	text-decoration: underline;

}
.title
{
	background:url(Images/topBar_bg.gif);
}
.border
{
	border: 1px solid #009286;
}
.tdbg{
	background:#E1F4EE;
	line-height: 120%;
}
.tdbg2{
	background:#E0EEF5;
	line-height: 120%;
}
.TopTbg
{
	background:#009286;
	color: #FFFFFF;

}
.bgcolor {
	background-color: #E1F4EE;
}
.FontTitleTop {
	font-size: 12px;
	font-weight: bold;
	color: #FFFFFF;
}
.TitleBig {
	font-size: 24px;
	font-weight: bold;
	color: #FF0000;
}
.Tblue {
	font-size: 12px;
	color: #0033CC;
	font-weight: bold;
}
.chu {
	font-weight: bold;
}
.Twhite {
	font-size: 12px;
	color: #FFFFFF;
}
.input {
	font-size: 12px;
	height: 18px;
}
.TbRedC {
	font-size: 12px;
	font-weight: bold;
	color: #FF0000;
}
.TRed {
	font-size: 14px;
	font-weight: bolder;
	color: #FF0000;
}
.TBlack {
	font-size: 14px;
	font-weight: bolder;
	color: #000000;
}
.Tdxbg {
	background-image: url(../../images/bot_bg.gif);
}
.TopTbg {
	background-image: url(downbg.gif);
}
.Tleftline {
	border-left-width: 1px;
	border-left-color: #999999;
	padding: 0px;
}
.tdw {
	background-image: none;
	padding-right: 1px;
	border-right-width: 1px;
	border-right-style: dashed;
	border-right-color: #FF0000;
}

.za_buttonCopy {

	font-family: "Arial";
	font-size: 12px;
	height: 22px;
	margin-bottom: 5px;
	padding-top: 2px;
	background-image: url(../../images/Vbg.gif);
	border: 1px solid #006699;
}
.BgTopgif {
	font-size: 12px;
	color: #003366;
	background-image: url(tcat.gif);
}
.SmallRed {
	font-size: 12px;
	color: #FF0000;
}
.Tblue2 {
	font-size: 12px;
	color: #0000FF;
}
